@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gidugu&family=Josefin+Sans:wght@700&display=swap');

:root {
    /* * */
    --border: #9DC88D 1px solid;
    --font-family: 'Anton', sans-serif;
    /* body */
    --body-bg: #222629;
    /* navbar */
    --nav-height: 10vh;
        /* nav > div > img */
        --img-height: 4rem;
        --img-padding-right: 1.1rem;
        /* nav > div > div > div */
        --div-font-family: 'Bebas Neue', cursive;
        --div-font-size: 1.58rem;
        --div-color: #9DC88D;
        --div-height: 1.4rem;
        /* nav > div > div > div:first-of-type */
        --div-first-of-type-font-size: 3rem;
        --div-first-of-type-height: 2.4rem;

    /* main */
    --main-height: 80vh;
    --main-width: 100vw;
        /* main > .pvp */
        --pvp-bg: url("../img/pvp.png");
        --pvp-bg-position: center 40%;
        --pvp-height: 80%;
        /* main > .pvc */
        --pvc-bg: url("../img/pvc.png");
        --pvc-bg-position: center 43%;
        --pvc-height: 20%;
        /* main > .pvp.active */
        --pvp-active-height: 20%;
        /* main > .pvc.active */
        --pvc-active-height: 80%;
        /* .pvp_glass, .pvc_glass */
        --font-size: 3rem;
        --height: 10vh;
        /* .pvp_menu, .pvc_menu */
        --menu-height: 40vh;
        --menu-width: 50vw;
        --border-radius: 15px;


    /* footer */
    --footer-height: 10vh;
}


/* body */
body {
    background: var(--body-bg);
}

/* navbar */
nav {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

    nav > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav > div > img {
        height: var(--img-height);
        width: auto;
        padding: 0.8rem 1.1rem 0.8rem 0.8rem;
    }

    nav > div > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav > div > div > div:first-of-type,
    nav > div > div > div:last-of-type {
        font-family: var(--div-font-family);
        font-size: var(--div-font-size);
        color: var(--div-color);
        height: var(--div-height);
    }

    nav > div > div > div:first-of-type {
        font-size: var(--div-first-of-type-font-size);
        height: var(--div-first-of-type-height);
    }

/* main */
main {
    box-sizing: border-box;
    border-top: var(--border);
    border-bottom: var(--border);
    display: flex;
    flex-direction: column;
    height: var(--main-height);
    width: var(--main-width);
}

    .pvp,
    .pvc {
        position: relative;
        flex-grow: 1;
        transition: height 0.5s;
        cursor: pointer;
    }

    .pvp {
        overflow: hidden;
        box-sizing: border-box;
        border-bottom: var(--border);
        background-image: var(--pvp-bg);
        background-position: var(--pvp-bg-position);
        background-repeat: no-repeat;
        background-size: cover;
        height: var(--pvp-height);
    }

    .pvc {
        overflow: hidden;
        background-image: var(--pvc-bg);
        background-position: var(--pvc-bg-position);
        background-repeat: no-repeat;
        background-size: cover;
        height: var(--pvc-height);
        filter: grayscale(100%);
    }

    .pvp.active {
        height: var(--pvp-active-height);
        filter: grayscale(100%);
        border: none;
    }

    .pvc.active {
        box-sizing: border-box;
        border-top: var(--border);
        height: var(--pvc-active-height);
        filter: grayscale(0%);
    }

    .pvp_glass,
    .pvc_glass {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size);
        font-family: var(--font-family);
        position: absolute;
        width: 100%;
        height: var(--height);
        background: rgba(255, 255, 255, 0.52);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .pvp_glass {
        top: -36%;
        left: 0;
        transition: all 0.1s ease-in-out;
    }

    .pvc_glass {
        top: 20%;
        left: 0;
        transition: all 0.5s ease-in-out;
    }

    .pvp_glass.active {
        top: 20%;
        transition: all 0.5s ease-in-out;
    }

    .pvc_glass.active {
        top: 100%;
        transition: all 0.1s ease-in-out;
    }

    .pvp_menu,
    .pvc_menu {
        position: absolute;
        top: 20%;
        transition: all 0.2s ease-in-out;
        height: var(--menu-height);
        width: var(--menu-width);
        border-radius: var(--border-radius);
        background: rgba(255, 255, 255, 0.52);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .pvp_menu {
        left: 25%;
        transition: all 0.2s ease-in-out;
    }

    .pvp_menu > div:first-of-type {
        width: 100%;
        font-size: 2rem;
        font-family: 'Anton', sans-serif;
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
/* * */
    .pvc_menu {
        left: -100%;
        transition: all 0.2s ease-in-out;
    }

    .pvp_menu.active {
        left: -100%;
        transition: all 0.2s ease-in-out;
    }

    .pvc_menu.active {
        left: 25%;
        transition: all 0.2s ease-in-out;
    }



    .pvp_menu > div:first-of-type > div:first-of-type > img,
    .pvp_menu > div:first-of-type > div:nth-child(3) > img {
        height: 6rem;
        width: auto;
        border-radius: 20px;
        margin: 0 1rem;
    }

    .pvp_menu > div:first-of-type > div:first-of-type,
    .pvp_menu > div:first-of-type > div:nth-child(2),
    .pvp_menu > div:first-of-type > div:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .wrapper {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn {
        position: relative;
        display: inline-block;
        letter-spacing: 1.2px;
        padding: 12px 32px;
        text-align: center;
        text-transform: uppercase;
        overflow: hidden;
        z-index: 1;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
      
    .btn--primary {
        color: black;
        font-size: 1.6rem;
        font-family: 'Anton', sans-serif;
    }
      
    .btn--border {
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        box-sizing: border-box;
    }
      
    .btn--animated {
        transition-property: color;
        transition-duration: 0.5s;
      
        &.btn--border.btn--primary {
            border: 1px solid black;
        }
      
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #9DC88D;
            transform: scaleX(0);
            transform-origin: 0 50%;
            transition-property: transform;
            transition-duration: 0.5s;
            transition-timing-function: ease-out;
            z-index: -1;
        }
      
        &:hover {
            color: white;
      
            &:before {
                transform: scaleX(1);
                transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
            }
        }
    }

/* footer */
footer > div:first-of-type {
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    margin: 0.3rem 0.5rem 0 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #9DC88D;
}


footer > div:nth-child(2) {
    display: flex;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.icon {
    width: 1.875rem;
    height: 1.875rem;
    margin: 0 0.5rem;
    border-radius: 50px;
    background: #fff;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2rem;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 2px 5px 10px rgba(150, 150, 150, .3);
    transition: all .1s ease-out;
}
.icon:hover {
    width: 12.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}
.icon:hover i {
    color: #fff;
}
.icon .fa-linkedin-in {
    color: #0077B5;
}
.lnk:hover {
    background: #0077B5;
}
.icon .fa-github {
    color: #000;
}
.git:hover {
    background: #000;
}
a {
    text-decoration: none;
    color: #fff;
}

/* media queries */
@media screen and (max-width: 1200px) {
    html {
        font-size: 85%;
    }

    nav > div > div > div:first-of-type {
        margin-bottom: 2px;
    }
}

@media screen and (max-width: 900px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 700px) {
    .pvp_menu {
        top: 35%;
        height: 20vh;
        width: 100%;
        left: 0;
        border-radius: 0;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-height: 700px) {
    .pvp_menu {
        top: 20%;
        height: 40vh;
    }
}

@media screen and (max-height: 400px) {
    .pvp_menu {
        top: 0;
        height: 100%;
        border-radius: 0;
    }

    .wrapper {
        top: 75%;
    }
}